@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 259 69% 94%;
    --foreground: 260 50% 20%;
    --card: 0 0% 100%;
    --card-foreground: 260 50% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 260 50% 20%;
    --primary: 260 68% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 261 56% 86%;
    --secondary-foreground: 260 50% 20%;
    --muted: 261 56% 90%;
    --muted-foreground: 260 50% 45%;
    --accent: 261 56% 86%;
    --accent-foreground: 260 50% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 56% 80%;
    --input: 261 56% 80%;
    --ring: 260 68% 60%;
    --chart-1: 260 68% 60%;
    --chart-2: 260 68% 70%;
    --chart-3: 260 68% 80%;
    --chart-4: 260 68% 50%;
    --chart-5: 260 68% 40%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 260 50% 20%;
    --sidebar-primary: 260 68% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 259 69% 94%;
    --sidebar-accent-foreground: 260 50% 20%;
    --sidebar-border: 261 56% 90%;
    --sidebar-ring: 260 68% 60%;
  }
  .dark {
    --background: 260 50% 10%;
    --foreground: 0 0% 98%;
    --card: 260 50% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 260 50% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 260 68% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 50% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 260 50% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 260 50% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 50% 25%;
    --input: 260 50% 25%;
    --ring: 260 68% 60%;
    --chart-1: 260 68% 60%;
    --chart-2: 260 68% 70%;
    --chart-3: 260 68% 80%;
    --chart-4: 260 68% 50%;
    --chart-5: 260 68% 40%;
    --sidebar-background: 260 50% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 260 68% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 260 50% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 260 50% 25%;
    --sidebar-ring: 260 68% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
